.errors-alert {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  border-radius: 10px;
  background: var(--color-tone-5);
  color: var(--color-tone-1);
  transition: all 0.2s;
  max-width: 500px;
}

.errors-alert li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.errors-alert li span {
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 100%;
  min-height: 20px;
  margin-right: 10px;
}

.errors-alert .absent .tile-color {
  background-color: var(--color-absent);
}

.errors-alert .present .tile-color {
  background-color: var(--color-present);
}

.errors-alert .correct .tile-color {
  background-color: var(--color-correct);
}
